VITE_TOKEN_KEY=token
VITE_REFRESH_TOKEN_KEY=refresh_token
VITE_BASE_URL=/api
VITE_DEV_API_TARGET=http://localhost:5000
VITE_LOCALE_KEY=locale
VITE_THEME_KEY=theme
VITE_KEYCLOAK_URL=
VITE_SOCKET_URL=
VITE_OPENWEATHER_API_KEY=
VITE_GOONG_API_KEY=
